<div id="redirectModal" class="modal fade" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content bg-success">
            <div class="modal-header" style="border-bottom: 0;">
                <input class="modal-title form-control" id="redirectValue"></input>
                <button class="btn btn-warning ml-1" onclick="Copy('redirectValue')">Copy</button>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
        </div>
    </div>
</div>

<div id="redirectError" class="modal fade" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content bg-danger">
            <div class="modal-header" style="border-bottom: 0;">
                <h3 class="modal-title" id="redirectErrorValue"></h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
        </div>
    </div>
</div>